<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="retrieve_login_plugin"
                type="Cimaco\AddToMyEventLink\Plugin\RetrieveLoginPlugin"/>
    </type>
</config>